$font_size-xsm: calc(1rem / 1.16);
$font_size-sml: calc(1rem / 1.33);
$font_size-std: 1rem;
$font_size-med: calc(1rem * 1.33);
$font_size-lrg: calc(1rem * 1.33 * 1.33);
$font_size-xlg: calc(1rem * 1.33 * 1.33 * 1.33);