%border_radius {
  background-clip: padding-box; // stops bg color from leaking outside the border
}

%border_radius-circle {
  @extend %border_radius;
  border-radius: 50%; // Just make sure, as I'm sure you will, that width === height or it won't actually be a circle!
}

%border_radius-lozenge {
  @extend %border_radius;
  border-radius: 500rem; // Jazzy little fix for creating a lozenge for an element of unknown size
}

%border_radius-std {
  @extend %border_radius;
  border-radius: 0.125rem; // 2px
}

%border_radius-small {
  @extend %border_radius;
  border-radius: 0.0625rem; // 1px
}

%border-radius-large {
  @extend %border_radius;
  border-radius: 0.625rem; // 10px
}