%theme-brand {
  background-color: $clr_brand-primary;
  color: $clr_white;
}

%theme-dark {
  background-color: $clr_mineshaft;
  color: $clr_white;
}

%theme-light {
  background-color: $clr_wildsand;
  color: $clr_mineshaft;
}

%theme-white {
  background-color: $clr_white;
  color: $clr_mineshaft;
}

%theme-brand-ghost {
  background-color: $clr_transparent;
  border-color: $clr_brand-primary;
  color: $clr_brand-primary;
}

%theme-dark-ghost {
  background-color: $clr_transparent;
  border-color: $clr_mineshaft;
  color: $clr_mineshaft;
}

%theme-light-ghost {
  background-color: $clr_transparent;
  border-color: $clr_wildsand;
  color: $clr_wildsand;
}

%theme-white-ghost {
  background-color: $clr_transparent;
  border-color: $clr_white;
  color: $clr_white;
}

[data-theme="theme-brand"] {
  @extend %theme-brand;
}

[data-theme="theme-dark"] {
  @extend %theme-dark;
}

[data-theme="theme-light"] {
  @extend %theme-light;
}

[data-theme="theme-white"] {
  @extend %theme-white;
}