<!DOCTYPE html>
<%- include('./_partials/html.ejs'); %>
<body>
    <%- hero %>
    <main class="container">
      <section class="content">
        <%- body %>
      </section>
    </main>
    <script src="/javascript/app.js"></script>
</body>
</html>