// Disabled items
$opacity_disabled-percentage: 60%;
$opacity_disabled-decimal: 0.6;
// Modal backdrop
$opacity_backdrop-percentage: 50%;
$opacity_backdrop-decimal: 0.5;
// Drop shadows
$opacity_shadow-percentage: 30%;
$opacity_shadow-decimal: 0.3;
// Error messaging
$opacity_failure-percentage: 15%;
$opacity_failure-decimal: 0.15;