%theme-brand {
  background-color: $clr_brand-primary;
  color: $clr_white;
}
%theme-dark {
  background-color: $clr_black;
  color: $clr_white;
}
%theme-light {
  background-color: $clr_wildsand;
  color: $clr_black;
}
%theme-white {
  background-color: $clr_white;
  color: $clr_black;
}
