// Disabled items
$opacity-disabled-percentage: 60%;
$opacity-disabled-decimal: 0.6;
// Modal backdrop
$opacity-backdrop-percentage: 50%;
$opacity-backdrop-decimal: 0.5;
// Drop shadows
$opacity-shadow-percentage: 50%;
$opacity-shadow-decimal: 0.5;
// Error messaging
$opacity-failure-percentage: 15%;
$opacity-failure-decimal: 0.15;