// Transitions
$ease-main: cubic-bezier(0.66, 0.04, 0.51, 0.92);
$ease-swoosh: cubic-bezier(0.43, -0.53, 0.69, 1.24);

// Speeds
$speed-fast: 100ms;
$speed-std: 300ms;
$speed-slow: 600ms;
$speed-slowest: 1000ms;
