@keyframes arrowbounce {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(100%, 0px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}