/* A million shades of grey to make designers happy*/

$clr_black: #000000;
$clr_mineshaft: #252525;
$clr_charcoal: #454545;
$clr_boulder: #656565;
$clr_concrete: #858585;
$clr_silverado: #c5c5c5;
$clr_wildsand: #f5f5f5;
$clr_white: #ffffff;
$clr_transparent: rgba(255, 255, 255, 0); // Using a white base fixes issues with Safari