#site-footer {
  background: $clr_black;
  .inner {
    @extend %central-column;
    background: $clr_transparent;
    font-size: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @extend %padding-horizontal;
    @extend %grid;
    @extend %grid_row;
    @extend %align-center;
    @extend %justify-between;
  }
}

#colophon {
  @extend %richie;
  color: $clr_boulder;
  text-align: center;
  cite {
    font-style: normal;
  }
}

#site-footer {
  padding: 3rem 0 2rem 0;
}

[title="To top"] {
  display: block;
  position: fixed;
  bottom: 0.5rem;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  svg {
    transform: rotate(-90deg);
  }
  
}