$hero_width: 100%;
$hero_height: 100vh;
// Unchanging appearance settings
.hero_container {
  width: $hero_width;
  height: $hero_height;
  position: relative;
  @extend %grid;
}

.hero_container {
  .hero_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: $hero_width;
    height: $hero_height;
    img {
      width: $hero_width;
      height: $hero_height;
      object-fit: cover;
    }
  }
}

.hero_container {
  .content_container {
    position: relative;
    z-index: 1;
    .inner {
      @extend %padding-standard;
      background: rgba($clr_black, $opacity-backdrop-decimal);
      header {
        .title {
          @extend %tony;
          color: $clr_white;
        }
        .content {
          @extend %richie;
          color: $clr_white;
          display: block;
          margin-top: 1.5rem;
        }
      }
    }
  }
}

// The stuff that changes based on screen size
@media screen and (max-width: $breakpoint-max) {
  // small screens
  .hero_container {
    align-items: flex-end;
    justify-content: flex-start;
    .content_container {
      width: 100%;
      footer {
        text-align: center;
        padding: 0 0 2rem 0;
        button {
          margin-top: 1rem;
          &:first-of-type() {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-min) {
  // medium screens
  .hero_container {
    align-items: center;
    justify-content: flex-start;
    .content_container {
      padding: 3rem;
      .inner {
        max-width: 380px;
        footer {
          margin-top: 3.5rem;
          button:first-of-type() {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $max-width) {
  // large screens
  .hero_container {
    .content_container {
      width: 50%;
      .inner {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.hero-text {
  padding-top: 10rem;
  .grid-central {
    padding: 0;
  }
  &.grid {
    @extend %align-center;
    [class*="item-"]:nth-of-type(2) {
      padding: #{($grid-gutter / 4)}rem;
    }
  }
}

.section-hero {
  padding-top: 3rem;
  padding-bottom: 0;
  @extend %grid;
  @extend %grid_row;
  @extend %grid_wrap;
  @extend %justify-between;
  @extend %align-center;
  @extend %central-column;
}