.admin-panel {
  @media screen and (max-width: $breakpoint-max) {
    width: 100%;
  }
  @extend %padding-bottom;
  .section-title {
    display: block;
    @extend %ralphie;
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
    &:not(:first-of-type) {
      margin-top: 2.5rem;
    }
  }
}

.admin-panel_content {
  width: 100%;
  @media screen and (min-width: $breakpoint-min) {
    margin-top: 2.5rem;
    .section-title+& {
      margin-top: 0;
    }
  }
}