%text-link {
  color: $clr_brand-primary;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-skip: edges;
  &:focus {
    outline: 0.0625rem solid $clr_brand-primary;
  }
  &:hover {
    color: darken($clr_scr-raspberry, $shade-percentage);
  }
}