<footer id="site-footer">
  <div class="inner">
    <span>&copy; 2018 <%= site.name %></span>
    &nbsp;|&nbsp;
    <span><%= site.description %></span>
    &nbsp;|&nbsp;
    <span><a href="mailto:<%= site.contact %>">contact webmaster</a></span>
    &nbsp;|&nbsp;
    <span><a href="https://creativecommons.org/licenses/by-nc-nd/3.0/legalcode">Creative Commons: CC BY-NC-ND 3.0</a></span>
  </div>
</footer>