<header id="site-header">
  <div class="inner">
    <a href="/" class="company-logo"><%= site.name %></a>
    <ul class="nav_icons">
      <li><a title="Skip to content" aria-label="Skip to content" href="#skip-to-content">&darr;</a></li>
    </ul>
  </div>
</header>