[class^="button"] {
  &[class*="-secondary-"] {
    @extend %button-secondary;
    &[class*="-brand"] {
      color: $clr_brand-primary;
      &:hover {
        color: darken($clr_brand-primary, $shade-percentage);
      }
    }
    &[class*="-dark"] {
      color: $clr_mineshaft;
      &:hover {
        color: darken($clr_mineshaft, $shade-percentage);
      }
    }
    &[class*="-light"] {
      color: $clr_white;
      &:hover {
        color: darken($clr_white, $shade-percentage);
      }
    }
    &[class*="-danger"] {
      color: $clr_failure;
      &:hover {
        color: darken($clr_failure, $shade-percentage);
      }
    }
  }
}